<style>

p.prerequisites {
    border:5px;
    border-style:none;
    background-color:#F0F0F0;
    box-shadow: 5px 5px 2px #888888;
    border-color:#FF0000;
    padding: 1em;
    }

p.conclusion {
    border:5px;
    border-style:none;
    background-color:#c8ebca;
    box-shadow: 5px 5px 2px #888888;
    border-color:#c8ebca;
    padding: 1em;
    }

div.warn {    
    background-color: #fcf2f2;
    border-color: #dFb5b4;
    border-left: 5px solid #dfb5b4;
    padding: 0.5em;
    }

div.advice {    
    background-color: #ecf8ed;
    border-color: #a2dda5;
    border-left: 5px solid #a2dda5;
    padding: 0.5em;
    }

</style>

